html {
    scroll-behavior: smooth;
}

body {
    background-color: antiquewhite;
}

@keyframes scaleUp {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(1.05);
    }
}

img:hover {
    animation: scaleUp 0.3s ease forwards;
    cursor: pointer;
}

/*/ Header /*/

.header {
    display: flex;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    text-align: center;
}

.header__image {
    margin-bottom: 25px;
}

.header__nav {
    display: flex;
}

.header__nav-link {
    margin-left: 50px;
}

/*/ Biographie /*/

.biographie {
    display: flex;
    justify-content: center;
    flex: 0 0 66%;
    text-align: left;
}

.biographie__image {
    flex: 0 0 33%;
    max-width: 100%;
    height: auto;
}

.biographie__highlight-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px; 
    margin-top: 20px;
}

.biographie__highlight {
    background-color: palevioletred;
    border-radius: 5px;
    padding: 10px;
    text-align: center;
    width: 200px; 
    height: 50px; 
}

.biographie__highlight:hover {
    background-color: rgb(204, 97, 133);
    cursor: pointer;
}

/*/ Oeuvres /*/

.oeuvres__box-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px; 
    margin-top: 20px;
}

.oeuvres__box {
    background-color: rgb(185, 185, 185);
    border-radius: 5px;
    padding: 10px;
    text-align: center;
    width: 200px; 
    height: 50px; 
}

.oeuvres__box:hover {
    background-color: rgb(158, 158, 158);
    cursor: pointer;
}

/*/ Galerie /*/

.galerie__line {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    margin-bottom: 15px;
}

.galerie__item {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 15px;
}

.galerie__image {
    height: 300px;
    width: 300px;
}
