/* Global */

html {
    scroll-behavior: smooth;
}

body {
    background-color: antiquewhite;
}

@keyframes scaleUp {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(1.05);
    }
}

img:hover {
    animation: scaleUp 0.3s ease forwards;
    cursor: pointer;
}

/* Header */

.header {
    display: flex;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    text-align: center;
}

.header__image {
    margin-bottom: 25px;
}

.header__nav {
    display: flex;
}

.header__nav-link {
    margin-left: 50px;
}

/* Biographie */

.biographie {
    display: flex;
    justify-content: center;
    text-align: left;
    gap: 20px;
}

.biographie__content {
    flex: 0 0 66%;
}

.biographie__image {
    flex: 0 0 33%;
    max-width: 100%;
    height: auto;
}

.biographie__highlights {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
}

.biographie__highlight {
    background-color: palevioletred;
    border-radius: 5px;
    padding: 10px;
    text-align: center;
    width: 200px;
    height: 50px;
}

.biographie__highlight:hover {
    background-color: rgb(204, 97, 133);
    cursor: pointer;
}

/* Oeuvres */

.oeuvres__boxes {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
}

.oeuvres__box {
    background-color: rgb(185, 185, 185);
    border-radius: 5px;
    padding: 10px;
    text-align: center;
    width: 200px;
    height: 50px;
}

.oeuvres__box:hover {
    background-color: rgb(158, 158, 158);
    cursor: pointer;
}

/* Galerie */

.galerie__rows {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.galerie__row {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.galerie__item {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 15px;
}

.galerie__image {
    height: 300px;
    width: 300px;
}

/* Citations */

.citations__quotes {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.citations__quote {
    font-size: xx-large;
    font-style: oblique;
    font-family: fantasy;
}

/* Secret */

/* Contact */

.contact__middle {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.contact__form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 500px;
    padding: 20px;
    border: 2px solid #000;
    border-radius: 8px;
    background-color:palevioletred;
}

.contact__label {
    font-weight: bold;
    font-size: 14px;
}

.contact__input {
    padding: 8px;
    font-size: 14px;
    border-radius: 4px;
    border: 1px solid #ccc;
}


.contact__button {
    padding: 10px;
    background-color: gray;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 4px;
}

.contact__button:hover {
    background-color: rgb(146, 145, 145);
}
