/* Global */
/* Tâche à faire : remplacer tout img:hover pour faire en sorte
 que les grandes images ne soient pas animées */

html {
    scroll-behavior: smooth;
}

body {
    background-color: rgb(1, 95, 1);
    background-image: url(./imagesLifeWeaver/BackLifeV2.jpg);
    color: white;
    overflow-x: hidden;
    margin: 0;
}

section {
    border: 1px solid #000;
    background: linear-gradient(135deg, rgb(89, 57, 34), rgb(68, 100, 20));
    border-radius: 10px;
    width: 1200px;
    max-width: 1200px;
    padding: 10px;
    margin: auto;
    margin-top: 25px;
    margin-bottom: 25px;
}

@keyframes scaleUp {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(1.05);
        transform: rotate(5deg);
    }
}

img {
    border-radius: 5px;
}

/* Header */

.header {
    display: flex;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    text-align: center;
}

header img:hover{
    animation: scaleUp 0.3s ease forwards;
    cursor: pointer;
}

header a{
    color: rgb(0, 0, 193);
}

header a:hover{
    color: rgb(11, 11, 146);
}


.header__image {
    margin-bottom: 25px;
}

.header__nav {
    display: flex;
}

.header__nav-link {
    margin-left: 50px;
}

/* Biographie */

.bio {
    display: flex;
    justify-content: center;
    text-align: left;
    gap: 20px;
}

.bio__content {
    flex: 0 0 66%;
}

.bio__image {
    flex: 0 0 33%;
    max-width: 100%;
    height: auto;    
    box-shadow: 1px 1px 10px black;
}

.bio__image:hover {
    animation: scaleUp 0.3s ease forwards;
    cursor: pointer;
}

.bio__line{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 20px;
    justify-content: center;

}

.bio__highlights {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    margin-top: 20px;
}

.bio__highlight {
    background-color: palevioletred;
    border-radius: 5px;
    padding: 10px;
    text-align: center;    
    color: #000;
    box-shadow: 1px 1px 10px black;
    width: 200px;
    height: 50px;
}

.bio__highlight:hover {
    background-color: rgb(204, 97, 133);
    cursor: pointer;
    transition: background-color 0.3s;
}

/* Oeuvres */

.oeuvres__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
}

.oeuvres__item {
    background-color: rgb(185, 185, 185);
    border-radius: 5px;
    padding: 10px;
    text-align: center;
    width: 200px;
    color: #000;
    box-shadow: 1px 1px 10px black;
    height: 50px;
}

.oeuvres__item:hover {
    background-color: rgb(158, 158, 158);
    cursor: pointer;
    transition: background-color 0.3s;
}

/* Galerie */

.gallery__rows {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.gallery__row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.gallery__item {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 15px;
}

.gallery__image {
    height: 300px;
    width: 300px;
    box-shadow: 1px 1px 10px black;
}

.gallery__image:hover{
    animation: scaleUp 0.3s ease forwards;
    cursor: pointer;
}

/* Citations */

.citations__list {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.citations__item {
    font-size: xx-large;
    font-style: oblique;
    font-family: fantasy;
}

/* Secret */

.secret__button-wrapper {
    display: flex;
    justify-content: center;
}

.secret__button {
    background-color: palevioletred;
    padding: 15px;
    border-radius: 15px;
    margin-bottom: 10px;    box-shadow: 1px 1px 10px black;
}

.secret__button:hover {
    background-color: rgb(204, 97, 133);
    cursor: pointer;
    transition: background-color 0.3s;
}

/* Contact */

.contact {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.contact__form-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact__form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 500px;
    padding: 20px;
    border: 2px solid #000;
    border-radius: 8px;
    background-color: palevioletred;
    margin-bottom: 20px;
}

.contact__label {
    font-weight: bold;
    font-size: 14px;
}

.contact__input {
    padding: 8px;
    font-size: 14px;
    border-radius: 4px;
    border: 1px solid #ccc;
}

.contact__button {
    padding: 10px;
    background-color: gray;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    border: #444141 solid 2px;
}

.contact__button:hover {
    background-color: rgb(123, 123, 123);
    transition: background-color 0.3s;
}

/* Footer */

.footer {
    background-color: gray;
}

.footer__content {
    padding-top: 50px;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    color: aliceblue;
    padding-bottom: 25px;
}

footer a{
    color: white;
}

footer a:hover{
    color: rgb(225, 222, 222);
}

/* Breakpoint pour mobile*/

@media (max-width: 768px) {
    
    section {
        border: 1px solid #000;
        background: linear-gradient(135deg, rgb(204, 0, 255), rgb(14, 90, 0));
        border-radius: 10px;
        max-width: 700px;
        padding: 10px;
        margin: auto;
        margin-top: 25px;
        margin-bottom: 25px;
    }

    /* Header */

    .header {
        flex-direction: column;
        text-align: center;
    }
    
    .header__nav {
        flex-direction: column;
    }
    
    .header__nav-link {
        margin-left: 0;
        margin-top: 10px;
    }

    /* Biographie */

    .bio {
        flex-direction: column;
        text-align: center;
        align-items: center;
    }
    
    .bio__image {
        height: 200px;
        width: 220px;
    }

    /* Oeuvres */

    .oeuvres{
        flex-direction: column;
        text-align: center;
    }

    .oeuvres__list {
        flex-direction: column;
        align-items: center;
    }

    .oeuvres__item {
        width: 60%;
        margin-bottom: 10px;
    }

    /* Galerie */

    .gallery{
        flex-direction: column;
        text-align: center;
    }

    .gallery__rows {
        flex-direction: column;
    }
    
    .gallery__image {
        height: 220px;
        width: 220px;
    }

    /* Citations */

    .citations{
        flex-direction: column;
        text-align: center;
    }

    /* Secret */

    .secret{
        flex-direction: column;
        text-align: center;
    } 

    /* Contact */

    .contact{
        flex-direction: column;
        text-align: center;
    }

    .contact__form {
        width: 90%;
        padding: 15px;
    }

    /* footer */

    footer{
       display: flex;
       align-items: center;
       justify-content: center;
       text-align: center;
    }

    .footer__content{
        flex-direction: column;
        align-content: center;
    }
}